<html>

<body style="background-color:#e2e1e0;font-family: Open Sans, sans-serif;font-size:100%;font-weight:400;line-height:1.4;color:#000;">
<table style="max-width:670px;margin:50px auto 10px;background-color:#fff;padding:50px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);-moz-box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24); border-top: solid 10px green;">
    <thead>
    <tr>
        <th style="text-align:left;"><img style="max-width: 150px;"
                                          src="https://maison-vivaldi.s3.amazonaws.com/header_logo.png"
                                          alt="Maison Vivaldi"></th>
        <th style="text-align:right;font-weight:400;">${command.issueDate}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="height:35px;"></td>
    </tr>
    <tr>
        <td colspan="2" style="border: solid 1px #ddd; padding:10px 20px;">
            <p style="font-size:14px;margin:0 0 6px 0;"><span
                        style="font-weight:bold;display:inline-block;min-width:150px">Order status</span><b
                        style="color:green;font-weight:normal;margin:0">Success</b></p>
            <p style="font-size:14px;margin:0 0 6px 0;"><span
                        style="font-weight:bold;display:inline-block;min-width:146px">Transaction ID</span>
                ${command.invoiceId}</p>
            <p style="font-size:14px;margin:0 0 0 0;"><span
                        style="font-weight:bold;display:inline-block;min-width:146px">Order amount</span> ${totalPriceWithDelivery}
                €
            </p>
        </td>
    </tr>
    <tr>
        <td style="height:35px;"></td>
    </tr>
    <tr>
        <td style="width:50%;padding:20px;vertical-align:top">
            <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span
                        style="display:block;font-weight:bold;font-size:13px">Name</span>
                ${command.deliver.destinationPerson.nom} ${command.deliver.destinationPerson.prenom}</p>
            <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span
                        style="display:block;font-weight:bold;font-size:13px;">Email</span>${email}</p>
            <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span
                        style="display:block;font-weight:bold;font-size:13px;">ID No.</span> ${command.invoiceId}</p>
        </td>
        <td style="width:50%;padding:20px;vertical-align:top">
            <p style="margin:0 0 10px 0;padding:0;font-size:14px;"><span
                        style="display:block;font-weight:bold;font-size:13px;">Address</span> ${command.deliver.destinationPerson.address}
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="font-size:20px;padding:30px 15px 0 15px;">Items</td>
    </tr>
    <tr>
        <td colspan="2" style="padding:15px;">
            <#list command.listSelectedProducts as product>
                <p style="font-size:14px;margin:0;padding:10px;border:solid 1px #ddd;font-weight:bold;">
                    <span style="display:block;font-size:13px;font-weight:normal;">${product.productStyleCode}${product.productColor.selectedColor}</span>
                    ${product.productColor.productPriceWithoutTva} € <b style="font-size:12px;font-weight:300;">
                        Quantity: ${product.productColor.totalQuantity}</b>
                </p>
            </#list>
        </td>
    </tr>
    </tbody>
    <tfooter>
        <tr>
            <td colspan="2" style="font-size:14px;padding:50px 15px 0 15px;">
                <strong style="display:block;margin:0 0 10px 0;">Regards</strong> 32 Allée Vivaldi, 75012 Paris<br><br>
                <b>Phone:</b> 09 88 06 91 34<br>
                <b>Email:</b> info@maisonvivaldi.com
            </td>
        </tr>
    </tfooter>
</table>
</body>

</html>